/* Common for both page */

* {
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .wrapper {
    border-radius: 5px;
    width: calc(100% - 124px);
    height: calc(100% - 100px);
    background-color: #ebecf0;
    box-shadow: 0 30px 120px -15px rgb(0 0 0 / 20%);
}

.container .wrapper .companyName {
    text-align: center;
}

/* !st page - Details */

.container .wrapper .search {
    margin-left: 47px;
}

.container .wrapper .search .searchLabel {
    font-size: 1.5rem;
    padding-right: 10px;
}

.container .wrapper .search .searchField {
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 100%;
    border: none;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    transition: all 0.3s;
}
.container .wrapper .search .searchField:focus {
    box-shadow: inset 1px 1px 1px #babecc, inset -2px -2px 1px #fff;
    outline: none;
    transition: all 0.3s;
}

.container .wrapper .search .addEmployee {
    float: right;
    font-size: 1rem;
    font-weight: bold;
    height: 45px;
    border-radius: 5px;
    margin-right: 50px;
    border: none;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

.container .wrapper .search .addEmployee:hover {
    cursor: pointer;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.container .wrapper .search .addEmployee:active {
    box-shadow: inset 1px 1px 1px #babecc, inset -2px -2px 1px #fff;
}
.container .wrapper .search .addEmployee:focus {
    outline: none;
}

.container .wrapper .gridDetails {
    overflow-y: auto;
    height: calc(100% - 126px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container .wrapper .gridDetails .card-profile {
    width: 340px;
    margin: 50px auto;
    background-color: rgb(235 236 240);
    border-radius: 0;
    border: 0;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    text-align: center;
}

.container .wrapper .gridDetails .card-profile .card-img-top {
    border-radius: 0;
    width: 340px;
    height: 150px;
}

.container .wrapper .gridDetails .card-profile .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    width: 150px;
    border: 5px solid #e6e5e1;
}

.container .wrapper .gridDetails .card-profile .card-title {
    margin: 0px;
}

.container .wrapper .gridDetails .card-profile .employeeId {
    font-size: 1.3rem;
    margin-top: 5px;
}

.container .wrapper .gridDetails .card-profile .card-desc {
    margin: 0;
}

.container .wrapper .gridDetails .card-profile .laptopId {
    font-size: 1.1rem;
    margin-top: 5px;
}

.container .wrapper .gridDetails .card-profile .card-links {
    margin-bottom: 25px;
}

.container .wrapper .gridDetails .card-profile .card-links .fa {
    margin: 0 1em;
    font-size: 1.6em;
}

.container .wrapper .gridDetails .card-profile .card-links .fa:focus,
.container .wrapper .gridDetails .card-profile .card-links .fa:hover {
    text-decoration: none;
}
.container .wrapper .gridDetails .card-profile .card-links .fa.fa-times {
    color: #ea4b89;
    font-weight: bold;
}
.container .wrapper .gridDetails .card-profile .card-links .fa.fa-times:hover {
    color: #e51d6b;
}
.container .wrapper .gridDetails .card-profile .card-links .fa.fa-edit {
    color: #3b5999;
}
.container .wrapper .gridDetails .card-profile .card-links .fa.fa-edit:hover {
    color: #2d4474;
}

.container .wrapper .gridDetails .card-profile .card-links .iconBtn {
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #62687e;
    background-color: #ebecf0;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

.container .wrapper .gridDetails .card-profile .card-links .iconBtn:hover {
    cursor: pointer;
    background-color: #ebecf0;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.container .wrapper .gridDetails .card-profile .card-links .iconBtn:active {
    background-color: #ebecf0;
    box-shadow: inset 1px 1px 1px #babecc, inset -2px -2px 1px #fff;
}
.container .wrapper .gridDetails .card-profile .card-links .iconBtn:focus {
    outline: none;
}

/* 2nd page - Add/Update Page CSS */

.companyName {
    text-align: center;
}

.formpage {
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    margin: auto;
    margin-top: 10%;
    width: 25vw;
    height: 52vh;
}

.formpage > header {
    font-family: sans-serif;
    color: #868996;
    text-align: center;
    padding: 10px;
}

.formpage .input-field,
.formpage .logbutton {
    position: relative;
    text-align: center;
    padding: 12px;
}

.formpage .input-field > input {
    width: 80%;
    height: 45px;
    border-radius: 50px;
    padding-left: 35px;
    font-size: 100%;
}

.formpage .logbutton > button {
    color: #a22727;
    font-size: 17px;
    font-weight: 550;
    width: 85%;
    height: 45px;
    border-radius: 50px;
    margin-bottom: 2%;
}

.formpage .actions {
    text-align: center;
}

.formpage .actions > button {
    width: 50%;
    height: 38px;
    border-radius: 5px;
    margin: 8px 0;
}

.formpage .note {
    margin: auto;
    width: 80%;
}

.formpage .note span {
    color: rgb(162 39 39);
    font-weight: bold;
}

/* TAG BASED CSS */
.formpage button {
    border: none;
    color: #62687e;
    background-color: #ebecf0;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

.formpage button:hover {
    cursor: pointer;
    background-color: #ebecf0;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.formpage button:active {
    background-color: #ebecf0;
    box-shadow: inset 1px 1px 1px #babecc, inset -2px -2px 1px #fff;
}
.formpage button:focus {
    outline: none;
}

.formpage input {
    border: none;
    background-color: #ebecf0;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
.formpage input:focus {
    background-color: #ebecf0;
    box-shadow: inset 1px 1px 1px #babecc, inset -2px -2px 1px #fff;
    outline: none;
}

@media only screen and (min-width: 1600px) {
    .formpage {
        width: 20vw;
    }
}
