<div class="container">
    <div class="wrapper">
        <div class="companyName">
            <h1>Accordify</h1>
        </div>
        <div class="search">
            <label class="searchLabel" for="employeeSearch">Employee Id:</label>
            <input class="searchField" type="text" name="employeeSearch" placeholder="Employee Id"
                [(ngModel)]="searchEmployee">

            <button class="addEmployee" (click)="addEditEmployee(null)">Add Employee</button>
        </div>

        <div class="gridDetails">
            <ng-container *ngFor="let data of dataset">
                <ng-container *ngIf="data.employeeDetails.name.toLowerCase().trim().indexOf(searchEmployee)>=0">
                    <div class='card card-profile text-center'>
                        <!-- <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'> -->
                        <img class='card-img-top' src="assets/profileBg2.png" alt="">
                        <div class='card-block'>
                            <img class='card-img-profile' src="assets/profileLogo.png" alt="">
                            <!-- <img alt='' class='card-img-profile'
                                src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140'> -->
                            <h2 class='card-title'>
                                {{data.employeeDetails.name}}
                            </h2>
                            <p class="employeeId">{{data.employeeDetails.id}}</p>

                            <h3 class='card-desc'>
                                {{data.laptopDetails.name}}
                            </h3>
                            <p class="laptopId">{{data.laptopDetails.id}}</p>

                            <div class='card-links'>
                                <button class="iconBtn" (click)="addEditEmployee(data)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="iconBtn" (click)="deleteEmployee(data.employeeDetails.id)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </div>



    </div>
</div>